<!DOCType html>
<html>
<head>
	<title>Barrio Chino Bolivia</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Footer tutorial from BootstrapBay.com">
	<link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/my.css" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a href="#perfil" class="navbar-brand" data-toggle="modal">B.Ch.Bol.</a>
      		<a href="#camera" data-toggle="modal" class="navbar-my-css"><span class="glyphicon glyphicon-camera"></span></a>
      		<a href="#search" data-toggle="modal" class="navbar-my-css"><span class="glyphicon glyphicon-search"</span></a>
		</div>
	</div>

	<!--PRINCIPAL-->
	<div class="container-fluid" style="overflow=scroll">
		<div class="row">
			<div class="col-xs-12">
				<h3>CLIENTE: APEREZ</h3>
				<h4>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star-empty"></i>
					<i class="glyphicon glyphicon-star-empty"></i>
				</h4>
			</div>
		</div>
		<div class="row placeholder">
			<div class="col-xs-12">
				<img data-src="" src="../img/15toshiba.jpg" alt="200x200" class="img-thumbnail img-responsive">
				<h3 class="text-center">LAPTOP TOSHIBA</h3>
				<label>Precio: 3000 Bs</label>
			</div>
		</div>
		<div class="row placeholder">
			<div class="col-sm-12">
				<label>Description:</label>
				<p>Bella laptop casi nueva 9/10, se vende de ocacion por razones de viaje</p>
			</div>
		</div>
		<div class="row placeholder">
			<div class="col-xs-4">
				<input class="btn btn-primary" type="submit" name="product" value="Buy">
			</div>

			<!-- <div class="col-xs-4">
				<input class="btn btn-primary" type="submit" name="product" value="Nose">
			</div>
			<div class="col-xs-4">
				<input class="btn btn-primary" type="submit" name="product" value="Chat">
			</div> -->
		</div>
	</div>

	<!--FIN TE LA PRINCIPAL-->

	<!--SEARCH BUTTON-->
	<div class="modal fade" id="search" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center well well-sm">SEARCH - FILTER</h4>
				</div>
				<form>
					<div class="modal-body">
						<div class="form-group">
							<div class="input-group">
						    	<span class="input-group-btn">
						        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
						      </span>
						      <input type="text" class="form-control" placeholder="Search">
							</div>
						</div>
					</div>
					<div class="modal-body">
						<h4 class="modal-title"><b>Category</b></h4>
						<div class="form-group">
							<div>
								<div class="radio">
									<label class="radio-inline"><input type="radio">Electronicos</label>
								</div>
								<div class="radio">
									<label class="radio-inline"><input type="radio">Carros y Motos</label>
								</div>
								<div class="radio">
									<label class="radio-inline"><input type="radio">Videojuegos y Peliculas</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<h4 class="modal-title"><b>Precio</b></h4>
						<div class="form-group">
							<p>Precio Maximo</p>
							<div class="input-group">
  								<input type="text" class="form-control">
  								<span class="input-group-addon">Bs.</span>
							</div>
							<p>Precio Minimo</p>
							<div class="input-group">
  								<input type="text" class="form-control">
  								<span class="input-group-addon">Bs.</span>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<h4 class="modal-title"><b>Ciudad</b></h4>
						<div class="form-group">
							<div>
								<div class="radio">
									<label class="radio-inline"><input type="radio">La Paz</label>
								</div>
								<div class="radio">
									<label class="radio-inline"><input type="radio">Cochabamba</label>
								</div>
								<div class="radio">
									<label class="radio-inline"><input type="radio">Santa Cruz</label>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<a class="btn btn-primary" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- CAMERA BUTTON -->
    <div class="modal fade" id="camera" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center well well-sm">SELECT A PICTURE OR TAKE A PHOTO!</h4>
                </div>
                <div class="modal-body" align="center">

                    <div id="foto"></div>

                    <div id="menu">
                        <div id="contenedorMenu">
                            <button id='btn-foto' onClick="capturePhoto()"></button>
                            <button id='btn-galeria' onClick="getPhoto(pictureSource.PHOTOLIBRARY)"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal">Save</a>
                    <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>

	<!--LOG-->
	<div class="modal fade" id="Log" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center well">Barrio Chino Bolivia</h4>
				</div>
				<div class="modal-body">
					<ul class="nav">
						<li role="option">
							<a href="#login" data-toggle="modal" data-dismiss="modal"><i class="glyphicon glyphicon-user"></i> Log In</a>
						</li>
						<li role="option">
							<a href="#registro" data-toggle="modal" data-dismiss="modal"><i class="glyphicon glyphicon-pencil"></i> Registrarse</a>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-block" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
	
	<!--LOGIN-->
	<div class="modal fade" id="login" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center well well-sm">Log In</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<div><label>USUARIO:</label></div>
  							<div><input type="text" name="user" class="form-control" placeholder = "User Name"></div><br>
							<div><label>CONTRASEÑA:</label></div>
  							<div><input type="password" name="pass" class="form-control" placeholder= "Password"></div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<input  class="btn btn-primary" type="submit" value="Log In">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--REGISTRO-->
	<div class="modal fade" id="registro" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center well well-sm">Registro</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<label>Nombre:</label>
  							<input type="text" name = "name" class="form-control" placeholder = "First Name">
  						</div>
  						<div class="form-group">
							<label>Apellido:</label>
  							<input type="text" name = "last" class="form-control" placeholder = "Last Name">
  						</div>
						<div class="form-group">
							<label>Usuario:</label>
  							<input type="text" name = "user" class="form-control" placeholder = "UserName">
  						</div>
  						<div class="form-group">
							<label>Email:</label>
  							<input type="text" name = "email" class="form-control" placeholder = "ejemplo@dominio.com">
  						</div>
  						<div class="form-group">
							<label>Contraseña:</label>
  							<input type="password" name="pass1" class="form-control" placeholder= "Password">
						</div>
						<div class="form-group">
							<label>Confirmar Contraseña:</label>
  							<input type="password" name="pass2" class="form-control" placeholder= "Password">
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<input  class="btn btn-primary" type="submit" value="Registrar">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--PERFIL BUTTON-->
	<div class="modal fade" id="perfil" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<img src="../img/agorila.jpg" alt="200x200" class="img-circle img-responsive">
					<h4 class="modal-title text-center">AGORILA</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs nav-stacked">
						<li role="options">
							<a href="#" onClick="viewProduct(4)">
								<i class="glyphicon glyphicon-user"></i>  My Account
							</a>
						</li>
						<li role="options">
							<a href="#">
								<i class="glyphicon glyphicon-arrow-up"></i>  Subir Producto
							</a>
						</li>
						<li role="options">
							<a href="#" onClick="viewProduct(4)">
								<i class="glyphicon glyphicon-folder-open"></i>   Mis Productos
							</a>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary btn-block" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>

	<!--BARRA BAJA-->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    	<div class="container">
    		<div class="navbar-text pull-left">
    			<p>Barrio Chino Bolivia</p>
    		</div>
    		<div class="navbar-text pull-right">
    			<p> BKBSoftware ©</p>
    		</div>
    	</div>
    </div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/fastclick.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>
</body>
</html>